@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.btn {
  border: none;
  cursor: pointer;
  @include m.flex-center;
  gap: f.rem(12);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &--primary {
    background-color: v.$color-primary;
    color: v.$color-text-dark;
    padding: f.rem(18) f.rem(40);
    font-family: v.$font-Almarai;
    font-weight: 700;
    font-size: f.rem(40);

    .btn__icon img {
      width: f.rem(40);
    }
  }

  &--secondary {
    background-color: v.$color-primary;
    font-family: v.$font-RedRose;
    font-size: f.rem(20);
    padding: f.rem(16) f.rem(26);

    .btn__icon img {
      width: f.rem(20); 
    }
  }

  &:disabled {
    background-color: #dcdcdc; // Grauer Hintergrund
    color: #a0a0a0;            // Grauer Text
    cursor: not-allowed;       // Verbotsschild-Cursor
    transform: none;           // Keine Vergrößerung beim Hover
    pointer-events: none;      // Button reagiert nicht auf Klicks/Hover
    
    .btn__icon img {
      filter: grayscale(1);    // Icon wird auch grau
      opacity: 0.5;
    }
  }

  &__icon {
    img {
      height: auto;
      transition: transform 0.4s ease;
    }
  }

  &__arrow {
    display: inline-block;
    transition: transform 0.3s ease, font-weight 0.3s ease;
  }

  &:hover {
    transform: scale(1.1); 

    .btn__icon img {
      transform: rotate(-15deg); 
    }

    .btn__arrow {
      transform: translateX(8px);
      font-weight: 900; 
      text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
    }
  }
}