@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.btn {
  border: none;
  cursor: pointer;
  @include m.flex-center;
  gap: f.rem(12);
  transition: transform 0.3s ease-in-out;

  &--primary {
    background-color: v.$color-primary;
    color: v.$color-text-dark;
    padding: f.rem(18) f.rem(40);
    font-family: v.$font-Almarai;
    font-weight: 700;
    font-size: f.rem(40);

    .btn__icon img {
      width: f.rem(40);
    }
  }

  &--secondary {
    background-color: v.$color-primary;
    font-family: v.$font-RedRose;
    font-size: f.rem(20);
    padding: f.rem(16) f.rem(26);

    .btn__icon img {
      width: f.rem(20);
    }
  }

  &:disabled {
    background-color: #dcdcdc;
    color: #a0a0a0;
    cursor: not-allowed;

    .btn__icon img {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  &:hover {
    transform: scale(1.1);

    .btn__icon img {
      transform: rotate(-15deg);
    }
    .btn__arrow {
      transform: translateX(8px);
      font-weight: 900;
    }
  }
}

.btn--exit {
  @include m.flex-center;
  gap: f.rem(12);
  padding: f.rem(12) f.rem(24);
  cursor: pointer;
  justify-self: end;

  img {
    width: f.rem(20);
  }

  .theme-code-vibes & {
    background-color: rgba(134, 233, 214, 0.2);
    color: white;
    font-family: v.$font-RedRose;
    font-weight: 700;
    font-size: f.rem(24);
    border: 1px solid #4dd5bc;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 2px #4dd5bc;
    }
  }

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    font-size: f.rem(20);
    font-weight: 700; 
    background-color: #ed1b7614;
    color: white;
    border: f.rem(2) solid #e71c4f;
    border-radius: f.rem(10);

    &:hover {
      box-shadow: 0 0 0 2px #e71c4f;

      img {
      filter: brightness(0) saturate(100%) invert(24%) sepia(92%) saturate(3015%) hue-rotate(331deg) brightness(91%) contrast(98%);      
      }
    }    
  }

  .theme-foods & {
    font-family: v.$font-Delius;
    font-size: f.rem(16);
    font-weight: 700;
    background-color: #fff9f2;
    color: #f3832d;
    border: f.rem(2) solid #f3832d;
    border-radius: f.rem(10);

    img {
      filter: invert(64%) sepia(93%) saturate(1453%) hue-rotate(345deg)
        brightness(101%) contrast(92%);
    }

    &:hover {
      color: #FFFFFF;
      box-shadow: 0 0 0 1px #f3832d;
      background-color: #F3832D;
      
      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}

.btn--restart {
  display: block;
  margin: f.rem(20) auto 0;
  width: fit-content;
  cursor: pointer;
  padding: f.rem(12) f.rem(24);
  transition: all 0.2s;
  text-align: center;
  color: white;

  .theme-code-vibes & {
    font-family: v.$font-RedRose;
    font-size: f.rem(24);
    background-color: rgba(134, 233, 214, 0.2);
    border: 1px solid #4dd5bc;

    &:hover {
      box-shadow: 0 0 0 2px #4dd5bc;
    }
  }

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    background-color: #ed1b7614;
    border: f.rem(2) solid #e71c4f;
    font-size: 0; 
    border-radius: f.rem(10);

    img { 
      display: none; 
    }

    &::after {
      content: "Home";
      font-size: f.rem(20);
      display: block;
    }

    &:hover {
      box-shadow: 0 0 0 2px #e71c4f;
    } 
  }

  .theme-foods & {
    font-family: v.$font-Delius;
    background-color: #f3832d;
    border: f.rem(2) solid #f3832d;
    border-radius: f.rem(10);
    font-size: 0;

    img { display: none; }

    &::after {
      content: "Home";
      font-size: f.rem(16);
      display: block;
    }

    &:hover {
        background-color: #F3832D;
        box-shadow: 0 0 0 3px #e6962e;
      }
  }
}

.btn-modal {
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
  padding: f.rem(14) f.rem(28);
  font-weight: 700;
  text-align: center;
  display: inline-block;

  .theme-code-vibes & {
    font-family: v.$font-Almarai;
    font-size: f.rem(18);

    &--primary {
      background-color: #64ccb4;
      color: white;
      border: 1px solid transparent; 

      &:hover {
        box-shadow: 0 0 0 3px #4eb59d; 
        background-color: #66CFBCB2;
      }
    }

    &--secondary {
      background-color: #effcf9;
      color: #64ccb4;
      border: 2px solid #64ccb4;
      padding: f.rem(12) f.rem(26); 

      &:hover {
        box-shadow: 0 0 0 2px #64ccb4;
      }
    }
  }

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    border-radius: f.rem(12);
    font-size: 0; 

    &--primary {
      background-color: #ff2d78;
      color: white;
      border: 1px solid transparent;

      &::after {
        content: "No, back to game";
        font-size: f.rem(16);
      }

      &:hover {
        color: #E71C4F;
        box-shadow: 0 0 0 2px #e71c4f;
        background-color: #F2C7DA14;
      }
    }

    &--secondary {
      background-color: #fceef5;
      color: #ff2d78;
      border: f.rem(2) solid #ff2d78;
      padding: f.rem(12) f.rem(26);

      &::after {
        content: "Yes, quit game";
        font-size: f.rem(16);
      }

      &:hover {
        box-shadow: 0 0 0 2px #ff2d78;
      }
    }
  }

  .theme-foods & {
    font-family: v.$font-Klee;
    border-radius: f.rem(10);
    font-size: 0;

    &--primary {
      background-color: #ffab3e;
      color: white;
      border: 1px solid transparent;

      &::after {
        content: "No, back to game";
        font-size: f.rem(18);
      }

      &:hover {
        background-color: #F3832D;
        box-shadow: 0 0 0 3px #e6962e;
      }
    }

    &--secondary {
      background-color: #fff9f2;
      color: #f3832d;
      border: 2px solid #f3832d;
      padding: f.rem(12) f.rem(26);

      &::after {
        content: "Exit game";
        font-size: f.rem(18);
      }

      &:hover {
        box-shadow: 0 0 0 2px #f3832d;
      }
    }
  }
}
