@use "../abstracts/variables" as v;
@use "../abstracts/functions" as f;
@use "../abstracts/mixins" as m;

.btn {
  border: none;
  cursor: pointer;
  @include m.flex-center;
  gap: f.rem(12);
  transition: transform 0.3s ease-in-out;

  &--primary {
    background-color: v.$color-primary;
    color: v.$color-text-dark;
    padding: f.rem(18) f.rem(40);
    font-family: v.$font-Almarai;
    font-weight: 700;
    font-size: f.rem(40);

    .btn__icon img {
      width: f.rem(40);
    }
  }

  &--secondary {
    background-color: v.$color-primary;
    font-family: v.$font-RedRose;
    font-size: f.rem(20);
    padding: f.rem(16) f.rem(26);

    .btn__icon img {
      width: f.rem(20);
    }
  }

  &:disabled {
    background-color: #dcdcdc;
    color: #a0a0a0;
    cursor: not-allowed;

    .btn__icon img {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  &:hover {
    transform: scale(1.1);

    .btn__icon img {
      transform: rotate(-15deg);
    }
    .btn__arrow {
      transform: translateX(8px);
      font-weight: 900;
    }
  }
}

.btn--exit {
  background-color: rgba(134, 233, 214, 0.2);
  border: 1px solid #4dd5bc;
  color: white;
  padding: f.rem(12) f.rem(24);
  @include m.flex-center;
  gap: f.rem(12);
  font-family: v.$font-RedRose;
  font-weight: 700;
  font-size: f.rem(24);
  cursor: pointer;
  transition: all 0.2s;
  border-radius: f.rem(4);
  justify-self: end;

  img {
    width: f.rem(20);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: white;
  }

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    font-size: f.rem(20);
    background-color: #ed1b7614;
    border: f.rem(2) solid #e71c4f;
    border-radius: f.rem(10);
  }

  .theme-foods & {
    font-family: v.$font-Delius;
    font-size: f.rem(16);
    border-color: #f3832d;
    background-color: #fff9f2;
    color: #f3832d;
    border-radius: f.rem(10);

    img {
      filter: invert(64%) sepia(93%) saturate(1453%) hue-rotate(345deg)
        brightness(101%) contrast(92%);
    }
  }
}

.btn--restart {
  display: block;
  margin: f.rem(20) auto 0;
  width: fit-content;
  cursor: pointer;
  padding: f.rem(12) f.rem(24);
  transition: all 0.2s;
  font-family: v.$font-RedRose;
  font-size: f.rem(24);
  background-color: rgba(134, 233, 214, 0.2);
  border: 1px solid #4dd5bc;
  color: white;
  text-align: center;

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    background-color: #ed1b7614;
    border: f.rem(2) solid #e71c4f;
    border-radius: f.rem(10);
    font-size: 0;

    img {
      display: none;
    }
    &::after {
      content: "Home";
      font-size: f.rem(20);
      color: white;
      display: block;
    }
  }

  .theme-foods & {
    font-family: v.$font-Delius;
    background-color: #f3832d;
    border: f.rem(2) solid #f3832d;
    border-radius: f.rem(10);
    font-size: 0;

    img {
      display: none;
    }

    &::after {
      content: "Home";
      font-size: f.rem(16);
      color: white;
      display: block;
    }
  }
}

.btn-modal {
  font-family: v.$font-Almarai;
  font-weight: 700;
  font-size: f.rem(18);
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  padding: f.rem(14) f.rem(28);

  &--primary {
    background-color: #64ccb4;
    color: white;
  }

  &--secondary {
    background-color: #effcf9;
    color: #64ccb4;
    border: 2px solid #64ccb4;
    padding: f.rem(10) f.rem(20);
  }

  .theme-gaming & {
    font-family: v.$font-Orbitron;
    border-radius: f.rem(12);
    font-size: 0;

    &--primary {
      background-color: #ff2d78;

      &::after {
        content: "No, back to game";
        font-size: f.rem(16);
      }
    }

    &--secondary {
      background-color: #fceef5;
      color: #ff2d78;
      border: f.rem(2) solid #ff2d78;

      &::after {
        content: "Yes, quit game";
        font-size: f.rem(16);
      }
    }
  }

  .theme-foods & {
    font-family: v.$font-Klee;
    border-radius: f.rem(10);
    font-size: 0;

    &--primary {
      background-color: #ffab3e;

      &::after {
        content: "No, back to game";
        font-size: f.rem(18);
      }
    }

    &--secondary {
      background-color: #fff9f2;
      color: #f3832d;
      border: 2px solid #f3832d;

      &::after {
        content: "Exit game";
        font-size: f.rem(18);
      }
    }
  }
}
