@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;


.card {
  background: none;
  border: none;
  padding: 0;
  display: block;
  width: 100%; 
  aspect-ratio: 1 / 1; 
  perspective: 1000px;
  cursor: pointer;
  position: relative;

  &.is-flipped &__inner {
    transform: rotateY(180deg);
  }

  &.is-matched &__inner {
    outline: 4px solid var(--match-color);
    border-radius: f.rem(8);
    pointer-events: none; // Karte nicht mehr anklickbar machen
  }

  &__inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 300ms ease-in-out;
    transform-style: preserve-3d;
    pointer-events: none;
  }

  &__face {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: f.rem(8);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--back {
      transform: rotateY(180deg);
      
    }
  }
}