@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.end-screen {
  position: fixed; 
  inset: 0; 
  background-color: #222;
  @include m.flex-center; 
  flex-direction: column; 
  z-index: 200; 
  text-align: center;
  font-family: v.$font-RedRose;
  font-weight: 400;

  &__title {
    color: var(--theme-color); 
    text-shadow: f.rem(3) 0 0 rgb(255, 255, 255); 
    margin-bottom: f.rem(70);
    font-size: f.rem(180); 
    line-height: 1;
  }

  &__label {
    font-family: v.$font-RedRose;
    color: white;
    font-size: f.rem(26);
    margin-bottom: f.rem(24);
    letter-spacing: f.rem(1);
    font-weight: 400;
  }

  &__score-box {
    @include m.flex-center;
    gap: f.rem(40); 
    background: #86E9D633;
    padding: f.rem(15) f.rem(20); 
    width: fit-content;
    margin: 0 auto;

    .player {
      display: flex;
      align-items: center;
      gap: f.rem(4);
      font-family: v.$font-Almarai;
      font-weight: 700;
      font-size: f.rem(24);

      img {
        width: f.rem(24);
        height: auto;
      }

      &--blue { 
        color: #2BB1FF; 
      }
      &--orange { 
        color: #F58E39; 
      }

      span {
        margin-left: f.rem(4);
      }
    }
  }

  &__winner-title {
    font-size: f.rem(60); 
    margin: f.rem(10) 0;
    font-family: v.$font-Almarai;
    font-weight: 800;

    &.text--orange { 
        color: #FF8A00; 
    }

    &.text--blue { 
        color: #00A3FF; 
    }
  }

  &__winner-icon img {
    width: f.rem(200); 
    margin: f.rem(20) 0;
    filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  }
}

.theme-code-vibes { 
    --theme-color: #4DD5BC;
}

.theme-gaming { 
    --theme-color: #FF0055; 
}

.theme-foods { 
    --theme-color: #FFCC00; 
}