@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.end-screen {
  &__title {
    color: var(--theme-color); 
    margin-bottom: f.rem(86);
    font-size: f.rem(180); 
    font-family: v.$font-RedRose;
    line-height: 1;
    text-shadow: 0 f.rem(-3) 0 #ffffff;
  }

  &__label {
    font-family: v.$font-RedRose;
    font-size: f.rem(26); 
  }

  &__score-box {
    @include m.flex-center;
    gap: f.rem(40); 
    padding: f.rem(15) f.rem(20); 
    width: fit-content;
    margin: f.rem(30) auto 0;
    background-color: #86E9D633;

    .player {
      display: flex; 
      align-items: center; 
      gap: f.rem(15);
      font-family: v.$font-Almarai; 
      font-weight: 700; 
      font-size: f.rem(24);

      img { width: f.rem(40); height: auto; }
      &--blue { color: #2BB1FF; }
      &--orange { color: #F58E39; }
    }
  }

  &__winner-title {
    font-size: f.rem(60); 
    margin: f.rem(10) 0;
    font-weight: 800;

    &.text--orange { color: #FF8A00; }
    &.text--blue { color: #00A3FF; }
  }

  &__winner-icon img {
    width: f.rem(200); 
    margin: f.rem(20) 0;
  }
}