@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.end-screen {
  position: fixed; 
  inset: 0; 
  background-color: var(--theme-bg-color);
  @include m.flex-center; 
  flex-direction: column; 
  z-index: 200; 
  text-align: center;

  &.theme-code-vibes {
    .end-screen__winner-title {
      text-transform: uppercase;
    }
  }

  // --- THEME BEREICH ---
  &.theme-gaming {
    
    .end-screen{
      &__score-box {
        background-color: #FFFFFF;
        border-radius: f.rem(10);
        margin-top: 30px;
        flex-direction: row-reverse;
        gap: f.rem(40);
        padding: f.rem(8) f.rem(20); 
      }

      &__title, &__label {
        font-family: v.$font-Orbitron;
      }

      &__label {
        font-size: f.rem(28);
      }

      &__confetti {
        display: none;
      }

    &__winner-title {
      font-family: v.$font-Orbitron;
      font-size: f.rem(64);
      text-shadow: f.rem(4) f.rem(4) f.rem(4) rgba(0, 0, 0, 0.25);
      
      &.text--orange { 
        color: #EA6900; 
      }
      &.text--blue { 
        color: #2298DB; 
      }
    }
    
    &__winner-text {
      font-family: v.$font-Orbitron;
      font-size: f.rem(28);
    }
    
    &__winner-icon img {
      content: url('/assets/icons/pockal.png'); 
    }
 }
    
    .player {
      font-size: 0;
      gap: f.rem(4);

      span { 
        font-size: f.rem(32); 
        font-family: v.$font-Orbitron;
      }

      &--blue {
        color: #097FC5;
      } 

      &--blue img { 
        width: 100%;
        content: url('/assets/icons/chess-pawn-blue.png'); 
      }
      &--orange img { 
        width: 100%;
        content: url('/assets/icons/chess-pawn-orange.png'); 
      }
    }
  }

  &.theme-foods {
    .end-screen__title {
      font-family: v.$font-Delius;
    }

    .player {
      font-size: 0;

      span { 
        font-size: f.rem(32); 
        font-family: v.$font-Delius;
      }

      &--blue img { 
        content: url('/assets/icons/food-blue.png'); 
      }
      &--orange img { 
        content: url('/assets/icons/food-orange.png'); 
      }
    }
  }

  &__title {
    color: var(--theme-color); 
    margin-bottom: f.rem(86);
    font-size: f.rem(180); 
    font-family: v.$font-RedRose;
    line-height: 1;
    text-shadow: 0 f.rem(-3) 0 #ffffff;
  }

  &__label {
    font-family: v.$font-RedRose;
    font-size: f.rem(26); 

  }

  &__score-box {
    @include m.flex-center;
    gap: f.rem(40); 
    padding: f.rem(15) f.rem(20); 
    width: fit-content;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #86E9D633;

    .player {
      display: flex; 
      align-items: center; 
      gap: f.rem(15);
      font-family: v.$font-Almarai; 
      font-weight: 700; 
      font-size: f.rem(24);

      img { 
        width: f.rem(40);
        height: auto; 
      }
      &--blue { 
        color: #2BB1FF; 
      }
      &--orange { 
        color: #F58E39; 
      }
    }
  }

  &__winner-title {
    font-size: f.rem(60); 
    margin: f.rem(10) 0;
    font-family: v.$font-Almarai; 
    font-weight: 800;

    &.text--orange { 
        color: #FF8A00; 
      }
    &.text--blue { 
        color: #00A3FF; 
      }
  }

  &__winner-icon img {
    width: f.rem(200); 
    margin: f.rem(20) 0;
  }
}