@use '../abstracts/functions' as f;
@use '../abstracts/variables' as v;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "tablet" {
    @media (min-width: 768px) { @content; }
  }
  @if $breakpoint == "desktop" {
    @media (min-width: 1024px) { @content; }
  }
}

@mixin divider-style($active: false) {
  height: f.rem(50);
  position: relative;
  background-color: transparent;
  transition: width 0.2s ease-in-out;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: v.$color-primary;
    transform: skewX(-25deg);
    transition: all 0.2s ease-in-out;
  }

  @if $active {
    width: f.rem(4) !important;
    
    &::after {
      content: "" !important;
      display: block !important; 
      position: absolute;
      bottom: f.rem(-10);
      left: f.rem(-11);
      transform: translateX(-50%) rotate(70deg); 
      width: f.rem(16); 
      height: f.rem(16);
      background-color: v.$color-primary;
      z-index: 2;
    }
  } @else {
    width: f.rem(10) !important; 
    &::after {
      content: none !important;
      display: none !important;
    }
  }
}