@use '../abstracts/variables' as v;
@use '../abstracts/functions' as f;
@use '../abstracts/mixins' as m;

.settings-page {
  background-color: white;
  min-height: 100vh;
  padding: f.rem(80) f.rem(120);
  @include m.flex-center;
  flex-direction: column;  
  color: v.$color-text-dark;

  &__container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: f.rem(100);
    align-items: stretch;
    max-width: f.rem(1200);
  }

  &__right-col {
    display: flex;
    flex-direction: column;
    padding-top: f.rem(120);
  }

    &__title {
      font-family: v.$font-RedRose;
      font-size: f.rem(72);
      margin-bottom: f.rem(80);
      position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: f.rem(-10);
      left: f.rem(-5);
      width: f.rem(320);
      height: f.rem(5);
      background-color: v.$color-primary;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: f.rem(-30);
      left: f.rem(-24);
      width: f.rem(22);
      height: f.rem(22);
      background-color: v.$color-primary;
      transform: translateY(-50%) rotate(45deg); 
    }
  }

  &__preview {
    padding-bottom: f.rem(30);
    border-radius: f.rem(24);
    display: flex;
    justify-content: flex-end;
    min-height: f.rem(400);
    
    img {
      max-width: f.rem(600);
    }
  }

  &__selection {
    background-color: #f7f7f7;
    padding: f.rem(20) f.rem(20);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: f.rem(20);
    width: auto;
    min-height: f.rem(90);
    box-sizing: border-box;
    align-self: flex-end;
  }

  &:has(input[name="theme"]:checked) #divider-1 {
    @include m.divider-style(true);
  }

  &:has(input[name="player"]:checked) #divider-2 {
    @include m.divider-style(true);
  }
}

.option-group {
  margin-bottom: f.rem(45);
  
  &__label {
    display: flex;
    align-items: center;
    gap: f.rem(12);
    font-size: f.rem(26);
    font-family: v.$font-Almarai;
    font-weight: 700;
    margin-bottom: f.rem(20);

    img { width: f.rem(30); }
  }
}

.summary-divider {
  @include m.divider-style(false);
  flex-shrink: 0; 
}

.summary-item {
  font-family: v.$font-Almarai;
  font-size: f.rem(20);
  white-space: nowrap;
  flex-shrink: 0;
}