@forward "abstracts/variables";
@forward "abstracts/functions";
@forward "abstracts/mixins";

@use "abstracts/variables";
@use "abstracts/functions";
@use "abstracts/mixins";
@use "base/typography";
@use "layout/structure";
@use "components/button";
@use "components/card";
@use "components/end-screen";
@use "components/modal";
@use "components/radio";
@use "pages/homescreen";
@use "pages/settings";
@use "pages/game";
@use "theme/code-vibes";
@use "theme/gaming";
@use "theme/foods";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.hidden {
  display: none !important;
}
