@forward 'abstracts/variables';
@forward 'abstracts/functions';
@forward 'abstracts/mixins';

@use 'base/typography';
@use 'components/button';
@use 'components/radio'; 
@use 'pages/homescreen';
@use 'pages/settings';
@use 'pages/game';
@use 'components/card';
@use 'components/modal';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.hidden {
  display: none !important;
}